!!! 5
%html( lang='de' )
  %head
    %meta( charset='utf-8' )
    %meta( content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' )
    %meta( name='viewport' content='width=device-width, initial-scale=1.0' )
    %link( rel='icon' type='image/png' href='/images/freifunk.png' )
    %link( rel='apple-touch-icon' type='image/png' href='/images/freifunk.png' )
    %title= current_page.data.title || 'Freifunk Düsseldorf'
    = partial 'critical-css'
    = javascript_include_tag 'all', :async => true
    %noscript#deferred-styles
      = stylesheet_link_tag 'all'
    = partial 'load-deferred-styles'
    = yield_content :head
  %body
    #main
      = partial 'navbar'
      .container
        = yield
    = partial 'footer'
