.navbar.navbar-default( role="navigation" )
  .container
    .navbar-header
      %button( type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav" )
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand( href="/" )
        = image_tag("freifunk-ddorf.svg", style: "height: 3em", alt: "Freifunk Düsseldorf")
    .collapse.navbar-collapse#nav
      %ul.nav.navbar-nav
        = nav_li( "Start", "/" )
        = nav_li( "Anleitung", "/anleitung" )
        = nav_li( "Kontakt", "/kontakt" )
      %ul.nav.navbar-nav.pull-right
        = nav_li( "Karte", "http://ffmap.freifunk-rheinland.net" )
