---
title: Download - Freifunk Düsseldorf
---

%h1 Download
%p.lead Freie Software für Freie Netze!
%p
  Aktuell verwenden wir
  = link_to "Gluon 2016.2.2", "https://github.com/freifunk-gluon/gluon"
- data.downloads.images.each do |profile|
  %h3= profile.brand
  - profile.models.each do |model|
    .row.lead
      .col-sm-4.col-md-3
        %p
          =model.name.upcase
      .col-sm-8.col-md-9
        - file_base = "#{data.downloads.base_url}/#{data.downloads.version}/factory/#{data.downloads.prefix}-#{data.downloads.version}"
        - if model.image.is_a? Hash
          - model.image.each do |revision,image|
            %a.btn.btn-default( href="#{file_base}-#{image}" )
              =revision
        - else
          %a.btn.btn-default( href="#{file_base}-#{model.image}" ) Download
