---
name: "kalender"
---

- content_for :head do
  = stylesheet_link_tag( "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css" );
  = javascript_include_tag( "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js");
  = javascript_include_tag( "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.js");
  = javascript_include_tag( "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/gcal.js");
  = javascript_include_tag( "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/locale/de.js");

#calendar

:javascript
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      googleCalendarApiKey: 'AIzaSyCd4qpRTufHOrQPmxMP086FZ8r1EhJNiaQ',
      events: {
        googleCalendarId: 'fluxent.de_q9r2g8ij29e6satlpin9nrchlc@group.calendar.google.com'
      },
      firstDay: 1,
      lang: 'de',
      defaultView: 'listMonth',
      views: {
        listDay: { buttonText: 'list day' },
        listWeek: { buttonText: 'list week' }
      },
      eventColor: '#009ee0',
      eventBackgroundColor: '#009ee0',
      eventTextColor: '#ffffff',
      header: {
        left:   'title',
        center: '',
        right:  'listMonth month today prev,next'
      },
      timeFormat: 'HH:mm',
      eventClick: function(event) {
        // opens events in a popup window
        window.open(event.url, 'gcalevent', 'width=700,height=600');
        return false;
      },
    });
  });
